@model WebApplication2.Controllers.Api.ProjectController
@{
    ViewBag.Title = "AddProject";
}

<h2>AddProject</h2>

<form>
    <div class="col-md-6">
        
        <div class="form-group">
            <label>Customer Name</label>
            <input type="text" id="CustomerName" class="form-control">
        </div>

        @*<div class="form-group">
            <label>Working company</label>
            <select id="workingCompany">
                <option value="1">Compunnel India</option>
                <option value="2">Compunnel Healthcare</option>
                <option value="3">Logix India</option>
            </select>
        </div>*@
        <div class="form-group">
            <label>Project Name</label>
            <select id="ddlProjectName" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label>Project Id</label>
            <select id="ddlProjectId" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label>Start Date</label>
            <input type="date" id="ddlStartDate" class="form-control">
        </div>
        <div class="form-group">
            <label>End Date</label>
            <input type="date" id="ddlEndDate" class="form-control">
        </div>
        <div class="form-group">
            <label>Project Status</label>
            <select id="ddlProjectStatus" class="form-control">
              
            </select>
        </div>
        <div class="form-group">
            <label>Location Group</label>
            <select id="ddlLocationGroup" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label>Payroll State</label>
            <select id="ddlPayrollState" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label>Sales Person</label>
            <select id="ddlSalesPerson" class="form-control">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Project Category</label>
        <select id="ddlProjectCategory" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Project Type</label>
        <select id="ddlProjectType" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Sub Domain</label>
        <select id="ddlSubDomain" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Timesheet Representative</label>
        <select id="ddlTimesheetRepresentative" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Client Invoice Group</label>
        <select id="ddlClientInvoiceGroup" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Timesheet Type</label>
        <select id="ddlTimesheetType" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Is Vms Timesheet</label>
        <select id="ddlIsVmsTimesheet" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Practice Type</label>
        <select id="ddlPracticeType" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Recruiter</label>
        <select id="ddlRecruiter" class="form-control">
        </select>
    </div>
    <input type="button" value="Save" id="btnSave" />
</form>

@section scripts{

    <script>$(document).ready(function(){
    BindProjectStatusList();
    BindProjectCategoryList();
    BindProjectList();
    BindProjectInvoiceList();
    BindProjectTimesheetTypeList();
    BindProjectPracticeTypeList();
    BindProjectRecruiterList();
    BindProjectLocationGroupList();
    BindProjectRepresentativeList();
    BindProjectSubDomainList();
    BindProjectSalesPersonList();
    BindProjectPayrollStateList();

            $("#btnSave").on("click", function () {
                if (IsValidate()) {
                    SaveData();
                }

            });
        });

        function IsValidate() {
            return true;
        }
        function SaveData() {
            let vm = {
                Name: "",
                //CompanyId: 0,
                startdate: 0,
                enddate: 0,
                projectstatus: 0,
                locationgroup: 0,
            };
            vm.Name = $("#CustomerName").val();
            //vm.CompanyId = $("#workingCompany").val();
            vm.projectstatus = $("#ddlProjectStatus").val();
            vm.startdate = $("#ddlStartDate").val();
            vm.enddate = $("#ddlEndDate").val();
            vm.locationgroup = $("#ddlLocationGroup").val();

            console.log(vm);
            $.ajax({
                method: "POST",
                url: "/Project/AddProject",
                dataType: "json",
                data: vm,
                success: function () { },
                error: function () { }
            });



        }

        function BindProjectStatusList() {
            $.ajax({
                method: "GET",
                url: "/Project/ProjectStatus?parentId=1800",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            });
        } 

        function BindProjectCategoryList() {
            $.ajax({
                method: "GET",
                url: "/Sample/GetProjectCategoryNisarg?parentId=19491",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            });
        } 

        function BindProjectList() {
            $.ajax({
                method: "GET",
                url: "/Sample/GetProjectTypeNisarg?parentId=4650",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            });
        }

        function BindProjectInvoiceList() {
            $.ajax({
                method: "GET",
                url: "/Sample/GetProjectInvoiceNisarg?parentId=10300",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            });
        }

        function BindProjectTimesheetTypeList() {
            $.ajax({
                method: "GET",
                url: "/Sample/GetProjectTimesheetTypeNisarg?parentId=13120",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            });
        }

        function BindProjectPracticeTypeList() {
            $.ajax({
                method: "GET",
                url: "/Sample/GetProjectPracticeTypeNisarg?parentId=15760",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            });
        }

        function BindProjectRecruiterList() {
            $.ajax({
                method: "GET",
                url: "/Sample/GetProjectRecruiterNisarg?",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            });
        }

        function BindProjectLocationGroupList() {
            $.ajax({
                method: "GET",
                url: "/Sample/GetProjectLocationGroupNisarg?",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            });
        }

        function BindProjectRepresentativeList() {
            $.ajax({
                method: "GET",
                url: "/Sample/GetProjectTimesheetRepresentativeNisarg?",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            });
        }

        function BindProjectSubDomainList() {
            $.ajax({
                method: "GET",
                url: "/Sample/GetProjectSubDomainNisarg?",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            });
        }

        function BindProjectSalesPersonList() {
            $.ajax({
                method: "GET",
                url: "/Sample/GetProjectSalesPersonNisarg?",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            });
        }

        function BindProjectPayrollStateList() {
            $.ajax({
                method: "GET",
                url: "/Sample/GetProjectPayrollStateNisarg?",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            });
        }
    </script>
}