
@{ ViewBag.Title = "DataTable"; }

<h2>Projects List</h2>
<div class="form-group col-md-3">
    <label>Project Type</label>
    <select id="ddlProjectType" class="form-control">
    </select>
</div>

<div class="form-group col-md-3">
    <label>Practice Type</label>
    <select id="ddlPracticeType" class="form-control">
    </select>
</div>

<div class="form-group col-md-3">
    <label>Search</label>
    <input type="text" id="CustomerName" class="form-control">
    <input type="button" class="btn-primary" value="Submit" id="btnSave" />
</div>



<table id="prjList" class="table-bordered table-striped" data-order = '[[3 , "desc"]]'>  @*to add it in start date formate*@
    <thead>
        <tr>
            <th>
                CustomerName
            </th>
            <th>
                ProjectName
            </th>
            <th>
                ProjectId
            </th>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                ProjectStatus
            </th>
            <th>
                LocationGroup
            </th>
            <th>
                PayrollState
            </th>
            <th>
                SalesPerson
            </th>
            <th>
                ProjectCategory
            </th>
            <th>
                ProjectType
            </th>
            <th>
                SubDomain
            </th>
            <th>
                TimesheetRepresentative
            </th>
            <th>
                ClientInvoiceGroup
            </th>
            <th>
                TimesheetType
            </th>
            <th>
                IsVmsTimesheet
            </th>
            <th>
                PracticeType
            </th>
            <th>
                Recruiter
            </th>
            <th></th>

        </tr>
    </thead>


</table>

@section scripts{
    <script>$(document).ready(function () {
            BindProjectType();
            BindProjectPracticeTypeList();
        });

        function BindProjectType() {
            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetProjectType?parentId=4650",
                success: function (data) {
                    console.log(data);

                    $(data).each(function () {
                        $("#ddlProjectType").append($("<option></option>").val(this.keyId).html(this.keyName));
                    });
                },
                error: function () { }
            });
        }

        function BindProjectPracticeTypeList() {
            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetProjectPracticeType?parentId=15760",
                success: function (data) {
                    console.log(data);

                    $(data).each(function () {
                        $("#ddlPracticeType").append($("<option></option>").val(this.keyId).html(this.keyName));
                    });
                },
                error: function () { }
            });
        }



        $(document).ready(function () {

            $("#prjList").DataTable({
                ajax: {
                    url: "/ProjectApi/GetProjectsList",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "customerName"
                    },
                    {
                        data: "projectName"
                    },
                    {
                        data: "projectId"
                    },
                    {
                        data: "startDate"
                    },
                    {
                        data: "endDate"
                    },
                    {
                        data: "projectStatus"
                    },
                    {
                        data: "locationGroup"
                    },
                    {
                        data: "payrollState"
                    },
                    {
                        data: "salesPerson"
                    },
                    {
                        data: "projectCategory"
                    },
                    {
                        data: "projectType"
                    },
                    {
                        data: "subDomain"
                    },
                    {
                        data: "timesheetRepresentative"
                    },
                    {
                        data: "clientInvoiceGroup"
                    },
                    {
                        data: "timesheetType"
                    },
                    {
                        data: "isVmsTimesheet"
                    },
                    {
                        data: "practiceType"
                    },
                    {
                        data: "recruiter",
                        //render: function (data) { return "This is my name" + data }
                    },
                    {
                        //edit button creation
                        render: function (data, type, row) {
                            return '<a href="Edit"' + row + '">EDIT</a>'
                        }
                    }],

                //"searching": false,
                //"paging": true,
                //"info": true,
                //"language": {
                //    "emptyTable": "No data available"
                //},
            });

            $("#btnSave").on("click", function () {
                FindData();
            })

            function FindData() {
                let Project = {
                    ProjectType: "",
                    PracticeType: "",
                    CustomerName: "",
                };
                Project.ProjectType = $("#ddlProjectType").val();
                Project.PracticeType = $("#ddlPracticeType").val();
                Project.CustomerName = $("#CustomerName").val();

                console.log(Project);
                $.ajax({
                    method: "GET",
                    url: "/ProjectApi/GetFindProject",
                    data: Project,
                    success: function () { },
                    error: function () { }

                });


            }
        });
            

    </script>
}









