
@{ 
    ViewBag.Title = "DataTable"; 
 }

<h2>Projects List</h2>

<table id="prjList" class="table-bordered table-striped">
    <thead>
        <tr>
            <th>
                CustomerName
            </th>
            <th>
                ProjectName
            </th>
            <th>
                ProjectId
            </th>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                ProjectStatus
            </th>
            <th>
                LocationGroup
            </th>
            <th>
                PayrollState
            </th>
            <th>
                SalesPerson
            </th>
            <th>
                ProjectCategory
            </th>
            <th>
                ProjectType
            </th>
            <th>
                SubDomain
            </th>
            <th>
                TimesheetRepresentative
            </th>
            <th>
                ClientInvoiceGroup
            </th>
            <th>
                TimesheetType
            </th>
            <th>
                IsVmsTimesheet
            </th>
            <th>
                PracticeType
            </th>
            <th>
                Recruiter
            </th>
            
        </tr>
    </thead>
    

</table>

@section scripts{
    <script>
        $(document).ready(function () {

            $("#prjList").DataTable({
                ajax: {
                    url: "/ProjectApi/GetProjectsList",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "customerName"
                    },
                    {
                        data: "projectName"
                    },
                    {
                        data: "projectId"
                    },
                    {
                        data: "startDate"
                    },  
                    {
                        data: "endDate"
                    },
                    {
                        data: "projectStatus"
                    },
                    {
                        data: "locationGroup"
                    },
                    {
                        data: "payrollState"
                    },
                    {
                        data: "salesPerson"
                    },
                    {
                        data: "projectCategory"
                    },
                    {
                        data: "projectType"
                    },
                    {
                        data: "subDomain"
                    },
                    {
                        data: "timesheetRepresentative"
                    },
                    {
                        data: "clientInvoiceGroup"
                    },
                    {
                        data: "timesheetType"
                    },
                    {
                        data: "isVmsTimesheet"
                    },
                    {
                        data: "practiceType"
                    },
                    {
                        data: "recruiter",
                        //render: function (data) { return "This is my name" + data }
                    }]
            });

       });
    </script>
}









